<h4 class="pt-3">Work Experience</h4>
{% for technicalExperience in site.data.technicalExperience.technicalExperiences %}
<h5 class="pt-3">{{technicalExperience.companyName}}</h5>
  {% for project in technicalExperience.projects %}
  <div class="row">
    <div class="col-10">
      <p class="font-italic font-weight-lighter">{{project.timeline}}</p>
    </div>
    <div class="col-2">
      <p class="font-italic font-weight-lighter">{{project.location}}</p>
    </div>
  </div>
  <p>Client: {{project.client}}</p>
  <ul>
    {% for desc in project.descriptionPoints %}
      <li>{{desc.point}}</li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endfor %}
